body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.card{
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 7px black;
    
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1{
    margin: 0px;
}
.save{
    position: relative;
    width: 30%;
    padding: 10px 10px;
    top: -140%;
    left: 65%;
    text-align: center;
    background-color: red;
    border-radius: 100px;
    color: white;
    transition: transform 1s;
    
}

.card:hover .save{
    transform: translateY(200%);
}

.impostazione div{
    background-color: white;
    border-radius: 60px;
    width: 105%;
    height: 100%;
}
.impostazione{
    position: relative;
    width: 30%;
    transition: transform 1s;
}
.card:hover .impostazione{
    transform: translateY(-200%);
}
.fa-circle{
    margin-right: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 70px;
}
.inline{
    display: inline-block;
    padding: 0px 30px;
}